{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ultimas comidas publicadas</h1>
    <p>Falta algún plato/postre?</p>
    <a href="{{ path('createDish') }}" class="btn btn-primary">Agregalo</a>
    <hr>
    <h2>Platos</h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for plate in plates %}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ plate.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ plate.name }}</h5>
                        <p class="card-text">Tipo: {{plate.type}}</p>
                        <p class="card-text">Origen: {{plate.origin}}</p>
                        {% if plate.vegan == 0 %}
                            <p class="card-text">No es vegano.</p>
                        {% else %}
                            <p class="card-text">Es vegano.</p>
                        {% endif %}
                        <a href="{{ path('dishProfile', {id: plate.id })}}" class="btn btn-primary">Más Info</a>
                        {% if (app.user) and (app.user.id == plate.user.id ) %}
                            <a href="{{ path('deleteDish', {id: plate.id })}}" class="btn">Borrar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2>Postres</h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for dessert in desserts %}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ dessert.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ dessert.name }}</h5>
                        <p class="card-text">Tipo: {{dessert.type}}</p>
                        <p class="card-text">Origen: {{dessert.origin}}</p>
                        <a href="{{ path('dishProfile', {id: dessert.id })}}" class="btn btn-primary">Más Info</a>
                        {% if (app.user) and (app.user.id == dessert.user.id ) %}
                            <a href="{{ path('deleteDish', {id: dessert.id })}}" class="btn">Borrar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}