{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}
    {{ form_start(recipeForm) }}
    {{ form_widget(recipeForm) }}
    <button type="submit">Añadir</button>
    {{ form_end(recipeForm) }}
    <a href="{{ path('dishProfile', {id: dish.id })}}" class="btn btn-primary">Volver</a>
{% endblock %}