<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ path('homePage') }}">Inicio</a>
                {% if app.user == false %}
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                {% endif %}
                {% if app.user == true %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
                {% if app.user == true %}
                    <a href="{{ path('profilePage', {id: app.user.id })}}" class="btn btn-primary">Ir a Perfíl</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
</div>
</body>
</html>


