{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}
    {{ form_start(dishForm) }}
    {{ form_widget(dishForm) }}
    <button type="submit">Añadir</button>
    {{ form_end(dishForm) }}
{% endblock %}