{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center"><h2>{{ dish.name }}</h2></div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <img src="{{ dish.image }}" width="600px" height="400px">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>Tipo:</h2>
                        <h5>{{ dish.type }}</h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h2>Origen:</h2>
                        <h5>{{ dish.origin }}</h5>
                    </div>
                </div>
                {% if dish.type == 'Plato' %}<hr>
                <div class="row">
                    <div class="col">
                        <h2>Es Vegano?:</h2>
                        {% if dish.vegan == 0 %}
                        <h5>No lo es.</h5>
                        {% else %}
                        <h5>Si lo es.</h5>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <hr>
                <div class="row">
                    <div class="col">
                        <h2>Usuario creador:</h2>
                        <a href="{{ path('profilePage', {id: dish.user.id })}}" class="btn btn-primary">Ir a Perfíl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1>Recetas de este plato</h1>
    <a href="{{ path('createRecipe', {id: dish.id })}}" class="btn btn-primary">Añade tu propia receta de este plato</a>
    <hr>
    {% for recipe in recipes %}
        <div>
            <h4>Dificultad: {{ recipe.difficulty }}</h4>
            <h4>Ingredientes:</h4>
            <p>{{ recipe.ingredients }}</p>
            <h4>Pasos:</h4>
            <p>{{ recipe.steps }}</p>
            <p>A Cuantas personas le fue util: <b>{{ recipe.likes }}</b></p>
            <a href="{{ path('addLike', {id: recipe.id })}}" class="btn">Me gusta</a>
            <a href="{{ path('profilePage', {id: recipe.user.id })}}" class="btn">Creador: {{ recipe.user.username }}</a>
        </div>
        <hr>
        <hr>
    {% endfor %}
{% endblock %}