{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center"><h2>{{ user.username }}</h2></div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center"><h2>{{ user.experience }}</h2></div>
        </div>
    </div>
    <hr>
    <h1>Tus platos creados</h1>
    <div class="row row-cols-1 row-cols-md-2">
    {% for dish in dishes %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ dish.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ dish.name }}</h5>
                    <p class="card-text">Tipo: {{dish.type}}</p>
                    <p class="card-text">Origen: {{dish.origin}}</p>
                    {% if dish.vegan == 0 %}
                        <p class="card-text">No es vegano.</p>
                    {% else %}
                        <p class="card-text">Es vegano.</p>
                    {% endif %}
                    <a href="{{ path('dishProfile', {id: dish.id })}}" class="btn btn-primary">Más Info</a>
                    {% if (app.user) and (app.user.id == dish.user.id ) %}
                        <a href="{{ path('deleteDish', {id: dish.id })}}" class="btn">Borrar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <hr>
    <div>
        <h1>Tus recetas aportadas a la comunidad</h1>
        <p></p>
        {% for recipe in recipes %}
            <div>
                <h4>Dificultad: {{ recipe.difficulty }}</h4>
                <h4>Ingredientes:</h4>
                <p>{{ recipe.ingredients }}</p>
                <h4>Pasos:</h4>
                <p>{{ recipe.steps }}</p>
                <p>A Cuantas personas le fue util: <b>{{ recipe.likes }}</b></p>
                <a href="{{ path('dishProfile', {id: recipe.dish.id })}}" class="btn btn-primary">Ir al Plato</a>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
    <hr>
    <div>
        <h1>Recetas Recomendadas para tí ({{ user.experience }})</h1>
        {% for recom in recoms %}
            <div>
                <h4>Dificultad: {{ recom.difficulty }}</h4>
                <h4>Ingredientes:</h4>
                <p>{{ recom.ingredients }}</p>
                <h4>Pasos:</h4>
                <p>{{ recom.steps }}</p>
                <p>A Cuantas personas le fue util: <b>{{ recom.likes }}</b></p>
                <a href="{{ path('dishProfile', {id: recom.dish.id })}}" class="btn btn-primary">Ir al Plato</a>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
    <hr>
    <div>
        <h1>Recetas que te han gustado</h1>
        {% for like in likes %}
            <div>
                <h4>Dificultad: {{ like.difficulty }}</h4>
                <h4>Ingredientes:</h4>
                <p>{{ like.ingredients }}</p>
                <h4>Pasos:</h4>
                <p>{{ like.steps }}</p>
                <p>A Cuantas personas le fue util: <b>{{ like.likes }}</b></p>
                <a href="{{ path('dishProfile', {id: like.dish.id })}}" class="btn btn-primary">Ir al Plato</a>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
{% endblock %}